ul {
	list-style-type: none;
}

li {
	display: none;
	text-align: left;
}

nav {
	width: 200px;
}

span:hover {
	text-decoration: underline;
}

span:hover + ul li {
	display: block;
	color: gray;
	text-indent: -30px;
	font-family: helvetica;
}

ul {
	margin: 0;
}

span {
	font-family: Arial;
	font-weight: bold;
	cursor: pointer;
}